html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: 'Grandstander', cursive;
  
    background-color: khaki;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin: 40px
  }
  
  .form-input {
    padding: 15px;
    margin-right: 15px;
    border-color: blueviolet;
  }
  
  .search-btn {
    border-radius: 10px;
    padding: 20px;
    background-color: mediumturquoise;
  }
  
  .btn-load {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 150px;
    margin-top: 20px;
    padding:20px;
    background-color: cornflowerblue;
    border-radius: 10px;
  }
  
  
  .is-hidden {
    display: none;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  
  .photo-card {
    padding: 5px;
    margin: 15px;
    width: calc((100% - 120px) / 4);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  
  .photo-card img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .photo-card:nth-child(4n) {
    margin-right: 0;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
  }
  
  .stats-item {
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .material-icons {
    display: flex;
    justify-content: center;
  }